.header {
    text-align: center;
    font-size: 16px;
    margin: 1px 1px;
    padding: 3px;
    background-color: #000;
    color: #fff;
}

.container {
    text-align: center;
    margin: auto;
}

hr {
    border-color: #000;
}

#dropbox {
    background-color: rgba(175, 175, 175, 0.4);
    border: 2px dashed rgba(0, 0, 0, 0.7);
    margin: 6px 0;
    height: 100px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgGallery {
    background-color: rgba(175, 175, 175, 0.4);
    border: 2px dashed rgba(0, 0, 0, 0.7);
    padding: 3px;
    display: grid;
}

#imgContainer {
    background-color: rgba(130, 175, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.7);
    height: 100px;
    margin: 3px;
}